VITE_API_URL=https://communityhealthaccessrecordssystem.up.railway.app/api
VITE_WS_URL=https://communityhealthaccessrecordssystem.up.railway.app
VITE_BACKEND_UL=https://communityhealthaccessrecordssystem.up.railway.app