VITE_API_BASE_URL=https://communityhealthaccessrecordssystem.up.railway.app/api
VITE_WS_URL=https://communityhealthaccessrecordssystem.up.railway.app
VITE_BACKEND_URL=https://communityhealthaccessrecordssystem.up.railway.app